<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>
  <div class="field">
    <%= form.label :expired_at %>
    <%= form.date_field :expired_at %> 
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['', 'Unstarted', 'In progress', 'Completed'] %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
