<div class="pb-5"></div>

<div class="d-flex justify-content-between">

<h1>Tasks</h1>

<div><a href="<%= new_task_path %>" class="btn btn-outline-success mt-2 ms-5">New Task</a></div>

<div><a href="<%= admin_users_path %>" class="btn btn-outline-success mt-2 ms-5">Management Users</a></div>
<div class="d-flex" style="margin-right: 0;">
        <%= form_with(url: search_tasks_path, method: :get, local: true) do |f| %>
        <% if defined? @search_title %>
          <%= f.text_field :search_title, value: @search_title, class:'form-control me-2'%>
        <% else %>
        <span class="fs-6">By name </span>   <%= f.text_field :search_title %>
        <% end %>
        <span class="fs-6"> By status </span> <%= f.select :search_status, ['Unstarted', 'In progress', 'Completed'], prompt: 'status' %>
        <span class=""> By priority </span> <%= f.select :search_priority, Task.priorities.map { |k, v| [k, v] }, class: 'search_priority form-control', prompt: 'priority'%>


          <span class="fs-6">
          By label <%= f.select :search_label, Label.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
          </span>
          <%= f.submit 'search' ,class:'btn btn-outline-success me-5'%>

        <% end %>
      </div>
</div>


<table class="table">
  <thead class="table-primary">
    <tr>
    <th scope="col">Author</th>
      <th scope="col">Name Tasks</th>
      <th scope="col">Details</th>
      <th scope="col"><a href="<%= tasks_path(by_deadline: "true")%> " class="text-primary">DeadLine<i class="bi bi-chevron-down"></i></a></th>
      <th scope="col">Status</th>
      <th scope="col"><a href="<%= tasks_path(by_priority: "true")%> " class="text-primary">Priority<i class="bi bi-chevron-down"></i></a></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <td class="task_row"><%= task.user.name %></td>
        <td class="task_row"><%= task.name %></td>
        <td><%= task.details %></td>
        <td><%= task.expired_at.to_date %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), :class => "btn btn-outline-success" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>

<br>
