<div class="h1 mt-5">Tasks list</div>
<% if current_user.is_admin %>
<table class="table mt-5">
  <thead class="table-primary">
    <tr>
      <th scope="col">Author Name</th>
      <th scope="col">Tasks Name</th>
      <th scope="col">Details</th>
      <th scope="col"><a href="<%= tasks_path(by_deadline: "true")%> " class="text-primary">DeadLine<i class="bi bi-chevron-down"></i></a></th>
      <th scope="col">Status</th>
      <th scope="col"><a href="<%= tasks_path(by_priority: "true")%> " class="text-primary">Priority<i class="bi bi-chevron-down"></i></a></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.user.name %></td>
        <td class="task_row"><%= task.name %></td>
        <td><%= task.details %></td>
        <td><%= task.expired_at.to_date %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>